<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/about.css" type="text/css">
    <title>About</title>
</head>
 {{>header}}
<body>
    <section class="banner">
        <h1 class="main-header">About Us</h1>
    </section>

    <section class="mission">
        <section class="mission-text">
            <h3>Our Mission</h3>
            <p>To be a service that provides users instant access to the air quality index for a given city or the nearest city enabling to promote awareness and protect public health and safety from outdoor air pollution.</p>
        </section>
        <img src="img/about-team.avif" class="teams">
    </section>
    <section class="about-description">
        <img src="img/about-phone-service.avif" class="phone-service">
        <section class="about-text">
            <h3>What We Do</h3>
            <p>HONEST AQ is a service that provides ease in accessing air quality data for any city you search.</p>
        </section>
    </section>
    <section class="team-container">
        <h3 class="team-header">Meet Our Team</h3>
        <section class="team">
            <section class="team-member">
                <h3>Shaye Ellerbe</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquam</p>
            </section>
            <section class="team-member">
                <h3>Keily Raggio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquam</p>
            </section>
            <section class="team-member">
                <h3>HSamoen Eban</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquam</p>
            </section>
            <section class="team-member">
                <h3>Cheyenne Vang</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquam</p>
            </section>
        </section>
    </section>
    <section class="values-container">
        <h3 class="value-header">Our Values</h3>
        <section class="value-cards">
            <section class="value-card">
                <h4>Education & Research</h4>
                <p>To inform about air quality and worsening conditions and solutions for improvement</p>
            </section>
            <section class="value-card">
                <h4>Continuous Improvement</h4>
                <p>To identify areas of opportunity to better serve the community and users with our service</p>
            </section>
            <section class="value-card">
                <h4>Communication & Connection</h4>
                <p>To provide a forum for the community to share knowledge about air quality</p>
            </section>
        </section>
    </section>
    <section class="aqi-message">
        <p>Have you checked the current air quality in your city?</p>
    </section>
    <section class="inform">
        <section class="inform-text">
            <h3>What is AQI?</h3>
            <p>Air Quality Index</p>
            <p>AQI measures air pollutants, including ground-level ozone and particulate matter, and reports daily air quality conditions by hourly measurements. Satellites monitor air quality from space. The AQI measures six levels of pollution, Good, Moderate, Unhealthy For Sensitive Groups, Unhealthy, Very Unhealthy, and Hazardous. The higher the AQI level, the greater the level of air pollution and health concerns.</p>
            <p>Examples of Air Pollutants: Carbon Monoxide, Smog, PM2.5, and PM10</p>
            <p>These pollutants are very severe as they can enter your lungs, bloodstream, and organ system. Sources of air pollutants include forest fires, burning coal, and emissions from tailpipes of diesel and gas-powered cars.</p>
            <p>Health Effects of Air Pollution: Can cause and aggravate chronic respiratory conditions and throat and eye irritation</p>
            <h4 class="recom">How To Protect Yourself:</h4>
            <ul>
                <li>Wear an N95 Mask: Reduces exposure to pollutants by 95% (20 breaths with mask = 1 breath without mask with inhaling pollutants)</li>
                <li>Reduce outdoor exposure on days with a high AQI if possible</li>
            </ul>
        </section>
        <img src="img/about-air-quality-cause.avif" class="air-quality-cause">
    </section>
 {{>footer}}
    <script src="/js/footer.js"></script>
</body>
</html> 