<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/resources.css" rel="stylesheet" type="text/css">
    <title>Resources</title>
</head>
<body>
     {{>header}}
    <section class="header"> 
        <h1>RESOURCES</h1>
        <q>Be a part of the anti-pollution revolution.</q>
    </section>


    <section class="res-info-container">
        <div class="info">
           <div class="info-video">
                <video width="85%" autoplay loop muted>
                    <source src="img/res-pollution.mp4" type="video/mp4" alt="pollution-video"> 
                </video> 
           </div>
         
            <div class="info-text">
                <h2>Reducing air pollution to limit global warming</h2>
                <p>Not only do air pollutants and greenhouse gases share the same sources, some pollutants directly contribute to global warming. Reducing these pollutants (called Short-Lived Climate Pollutants) would slow the rate of climate change and help limit warming to 1.5C.</p>
                <a href='https://airly.org/en/how-does-air-pollution-affect-global-warming/' target="_blank"><button>Learn More</button></a>
            </div>
        </div>

        <div class="info">
            <div class="info-text">
                <h2>Effects of air pollution on the environment</h2>
                <p>Like people, animals, and plants, entire ecosystems can suffer effects from air pollution. Air pollution can directly contaminate the surface of bodies of water and soil. This can kill crops or reduce their yield. It can kill young trees and other plants. Like humans, animals can suffer health effects from exposure to air pollution. Birth defects, diseases, and lower reproductive rates have all been attributed to air pollution.</p>
                <a href='https://www.mass.gov/doc/health-environmental-effects-of-air-pollution/download' target="_blank"><button>Learn More</button></a>
            </div>

           <div class="info-video">
                <video width="85%" autoplay loop muted>
                    <source src="img/res-animals.mp4" type="video/mp4" alt="monkeys"> 
                </video>
           </div>
        </div>

        <div class="info">
           <div class="info-video">
                <video width="85%" autoplay loop muted>
                    <source src="img/res-people.mp4" type="video/mp4" alt="man-wearing-mask"> 
                </video> 
           </div>

            <div class="info-text">
                <h2>Reducing pollutants in the air is important for human health and the environment</h2>
                <p>Poor air quality has harmful effects on human health, particularly the respiratory and cardiovascular systems. Pollutants can also damage plants and buildings, and smoke or haze can reduce visibility.</p>
                <a href='https://www.who.int/teams/environment-climate-change-and-health/air-quality-and-health/health-impacts#:~:text=Air%20pollution%20is%20a%20risk,(household%20air%20pollution%20only)' target="_blank"><button>Learn More</button></a>
            </div>
        </div>
    </section>


    <section class="res-getInvolved-container">
       <div class="res-getInvolved-header">
       </div>
       <h3>Air Pollution Prevention</h3>
  
        <div class="solutions">
            <!-- solution 1 -->
            <div class="solutions-text">
                <img src="img/res-fan-icon.png" alt="fan-icon"> 
                <h4>Renewable fuel and clean energy production</h4>
                <p>The most basic solution for air pollution is to move away from fossil fuels, replacing them with alternative energies like solar, wind and geothermal.</p>
            </div>
            
            <!-- solution2 -->
            <div class="solutions-text">
                <img src="img/res-bulb-icon.png" alt="bulb-icon"> 
                <h4>Energy conservation and efficiency</h4>
                <p>Producing clean energy is crucial. But equally important is to reduce our consumption of energy by adopting responsible habits and using more efficient devices.</p>
            </div>

            <!-- solution 3 -->
            <div class="solutions-text">
                <img src="img/res-train-icon.png" alt="train-icon"> 
                <h4>Eco-friendly transportation</h4>
                <p>Shifting to electric vehicles and hydrogen vehicles, and promoting shared mobility (i.e carpooling, and public transports) could reduce air pollution.</p>
            </div>

            <!-- solution 4 -->
            <div class="solutions-text">
                <img src="img/res-greenhouse-icon.png" alt="greenhouse-icon"> 
                <h4>Green building</h4>
                <p>From planning to demolition, green building aims to create environmentally responsible and resource-efficient structures to reduce their carbon footprint.</p>
            </div>
        </div>
    </section>

    <section class="quote-container">
       <h3> Be the solution to run off the pollution. Stop polluting the environment.</h3>
    </section>

    <section class="res-resources-container">
        <h3>Related Resources</h3>

        <div class="resources">
            <div class="articles">
                <img src="img/res-article1.jpeg" alt="soot-img">
                <div>
                    <h4>COLLECTION</h4>
                    <a href="https://www.nrdc.org/stories/air-pollution-everything-you-need-know" target="_blank">Air Pollution: Everything You Need to Know</a>
                    <p>According to the World Health Organization (WHO), each year air pollution is responsible for nearly seven million deaths around the globe. Nine out of ten human beings currently breathe air that exceeds the WHO’s guideline limits for pollutants, with those living in low- and middle-income countries suffering the most. In the United States, the Clean Air Act, established in 1970, authorizes the U.S...</p>
                </div>
            </div>

            <div class="articles">
                <img src="img/res-article2.jpeg" alt="dust-img">
                <div>
                    <h4>HEALTH</h4>
                    <a href="https://www.who.int/teams/environment-climate-change-and-health/air-quality-and-health/health-impacts#:~:text=Air%20pollution%20is%20a%20risk,(household%20air%20pollution%20only)" target="_blank">Air Quality and Health</a> 
                    <p>Air pollution is a risk for all-cause mortality as well as specific diseases. The specific disease outcomes most strongly linked with exposure to air pollution include stroke, ischaemic heart disease, chronic obstructive pulmonary disease, lung cancer, pneumonia, and cataract (household air pollution only)...</p>
                </div>
            </div>

            <div class="articles">
                <img src="img/res-article3.jpeg" alt="people-in-field">
                <div>
                    <h4>ENVIRONMENTAL</h4>
                    <a href="https://www.mass.gov/doc/health-environmental-effects-of-air-pollution/download" target="_blank">Health & Environmental Effects of Air Pollution</a>
                    <p> Like humans, animals can experience health problems if they are exposed to sufficient concentrations of air toxics over time...These pollutants accumulate in sediments and may biomagnify in tissues of animals at the top of the food chain to concentrations many times higher than in the water or air...</p>
                </div>
            </div>

            <div class="articles">
                <img src="img/res-article4.jpeg" alt="cars">
                <div>
                    <h4>COLLECTION</h4>
                    <a href="https://www3.epa.gov/region1/airquality/reducepollution.html" target="_blank">Actions You Can Take to Reduce Air Pollution</a>
                    <p>Follow these Tips Every Day to Reduce Pollution: Conserve energy at home, at work, everywhere; Carpool, use public transportation, bike, or walk whenever possible; Follow gasoline refueling instructions for efficient vapor recovery...</p>
                </div>
            </div>

            <div class="articles">
                <img src="img/res-article5.jpeg" alt="historic-soot">
                <div>
                    <h4>HISTORIC</h4>
                    <a href="https://www.epa.gov/air-research/history-air-pollution" target="_blank">History of Air Pollution</a>
                    <p>EPA scientists have already provided evidence that future temperature increases will increase air pollution levels in some regions of the country...</p>
                </div>
            </div>

            <div class="articles">
                <img src="img/res-article6.jpeg" alt="global-warming">
                <div>
                    <h4>ENVIRONMENTAL</h4>
                    <a href="https://airly.org/en/how-does-air-pollution-affect-global-warming/" target="_blank">How does Air Pollution Affect Global Warming?</a>
                    <p>Air pollution includes numerous harmful substances such as greenhouse gases and carbon dioxide. These gases accelerate the global warming as they keep the heat from the sun and block it in the earth’s atmosphere...</p>
                </div>
            </div>
        </div>
    </section>
     {{>footer}}
       <script src="/js/footer.js"></script>
</body>
</html>